<html>
<head>
<link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body>

<%@accounts.each do |account|%>
  <p>== Account: <%=account.account%> ==</p>
  <p>Starting Balance: $<%="%.2f" % account.starting_balance.to_f%></p>
  <p>Ending Balance: $<%="%.2f" % account.current_balance.to_f%></p>
  <div class = "transactions">
    <%account.summary(account.account).each do |line|%>
      <p><%=line%></p>
    <%end%>
  </div>
  <br>
  <hr>
<%end%>

</body>
</html>
